{{#if isTypeFile}}
    <div class="upload">
        <label for="upload__input">
            {{{icon}}}
        </label>

        <input class="upload__input" id="upload__input" type="file" />
    </div>
    {{else}}
    <div class="form-field">
        <input 
            class="form-field__input {{#if icon}}input-icon{{/if}}"
            name="{{ name }}" 
            type="{{ type }}" 
            placeholder="" 
            value="{{ value }}">
        <label
            class="form-field__label {{#if icon}}label-icon{{/if}}" 
            for="{{ labelFor }}">
            {{ label }}
        </label>
        {{#if icon}}
            <div class="form-field__icon">
                <img class="icon" src="{{src}}" alt="{{alt}}" />
            </div>
        {{/if}}
    </div>
    <span class="form-error">{{ errorText }}</span>
{{/if}}