<div class="chats">
  <aside class="chats__sidebar">
    <div class="chats__sidebar__header">
      <div class="chats__sidebar__header-profile">
        {{{profileIcon}}}
      </div>
      <div class="chats__sidebar__header-text">
        <span>Чаты</span>
      </div>
      <div class="chats__sidebar__header-new">
        {{{newMessage}}}
      </div>
    </div>
    <div class="chats__sidebar__search">
      {{{search}}}
    </div>
    <div class="chats__sidebar__list">
      {{#each chats}}
        {{{this}}}
      {{/each}}
    </div>
  </aside>

  {{#if selectedChat}}
    <div class="chats__container">
      <header class="chats__container-header">
        <div class="chats__container-header__info">
          {{#each usersChat}}
            <div class="chats__container-header__info-avatar">
              <img src="{{avatar}}" alt="Фото профиля" />
            </div>
            <div class="chats__container-header__info-name">
              {{first_name}}
            </div>
          {{/each}}
        </div>
        <div class="chats__container-header__action">
          {{{searchMessageIcon}}}
          {{{removeIcon}}}
          {{{addUserIcon}}}
        </div>
      </header>
      <main class="chats__container-messages">
        {{#each messages}}
          {{{this}}}
        {{/each}}
      </main>
      <footer class="chats__container-footer">
        {{{chatFooter}}}
      </footer>
    </div>
  {{/if}}

  {{#unless selectedChat}}
    <span>Выберите чат или создайте новый</span>
  {{/unless}}

  {{#if isViewPopupCreateChat}}
    <div class="chats__popup">
      {{{popupCreateChat}}}
    </div>
  {{/if}}

  {{#if isViewPopupAddUser}}
    <div class="chats__popup">
      {{{popupAddUser}}}
    </div>
  {{/if}}

  {{#if isViewPopupRemoveUser}}
    <div class="chats__popup">
      {{{popupRemoveUser}}}
    </div>
  {{/if}}

</div>