<div class="chats">
  <aside class="chats__sidebar">
    <div class="chats__sidebar__header">
      <div class="chats__sidebar__header-profile">
        {{{profileIcon}}}
      </div>
      <div class="chats__sidebar__header-text">
        <span>Чаты</span>
      </div>
      <div class="chats__sidebar__header-new">
        {{{newMessage}}}
      </div>
    </div>
    <div class="chats__sidebar__search">
      {{{search}}}
    </div>
    <div class="chats__sidebar__list">
      {{#each chats}}
        {{{this}}}
      {{/each}}
    </div>
  </aside>

  <div class="chats__container">
    <header class="chats__container-header">
      <div class="chats__container-header__info">
        <div class="chats__container-header__info-avatar">
          {{{defaultAvatar}}}
        </div>
        <div class="chats__container-header__info-name">
          {{first_name}}
        </div>
      </div>
      <div class="chats__container-header__action">
        {{{searchMessageIcon}}}
        {{{toggleIcon}}}
      </div>
    </header>
    <main class="chats__container-messages">
      {{#each messages}}
        {{{this}}}
      {{/each}}
    </main>
    <footer class="chats__container-footer">
      {{{chatFooter}}}
    </footer>
  </div>

  {{#if isViewPopupCreateChat}}
    <div class="chats__popup">
      {{{popupCreateChat}}}
    </div>
  {{/if}}

</div>